ul.file-tree, .file-tree ul {
    list-style-type: none;
    padding-left: 1em;
}

.nav-link-tree {
    font-weight: 500;
    font-size:0.8rem;
    color: #333;
}

.nav-link-tree svg{
    height: 14px;
}

code {
    font-family: monospace;
}

.markdown pre {
    background-color: #f6f8fa;
    border-radius: 3px;
    font-size: 85%;
    line-height: 1.45;
    overflow: auto;
    padding: 16px;
}

p > code {
    background-color: #f6f8fa;
    border-radius: 3px;
    padding: 3px;
    color: inherit;
}

.markdown h1 { font-size: 2rem; }
.markdown h2 { font-size: 1.75rem; }
.markdown h3 { font-size: 1.5rem; }
.markdown h4 { font-size: 1.25rem; }
.markdown h5 { font-size: 1rem; }
